<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Blog Posts</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 font-sans antialiased">
    <!-- Navbar -->
    {% include 'navbar.html' %}    

    <br>

    <!-- Main content -->
    <div class="container mx-auto mt-10 px-4 sm:px-0">
        <div class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow-md">

            <!-- Blog posts section -->
             <section>
                <h2 class="text-xl mb-4 font-semibold">All Blog Posts</h2>
                <div class="space-y-4">
                    {% for blog in blog_posts %}
                    <a href="blog-details/{{blog.id}}">
                        <div class="border border-gray-300 p-4 rounded-lg">
                            <h3 class="text-lg font-semibold">{{blog.blog_title}}</h3>
                            <p>{{blog.content|truncatechars:80}}</p>
                        </div>
                    </a>
                    {% endfor %}
                </div>
             </section>
        </div>
    </div>

    {% include 'footer.html' %}
</body>
</html>